apiVersion: v1
kind: Service
metadata:
  name: userapi-service
spec:
  selector:
    app: userapi
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: userapi-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: userapi
  template:
    metadata:
      labels:
        app: userapi
    spec:
      containers:
        - name: userapi
          image: benjo55/userapi:latest
          ports:
            - containerPort: 8000
          env:
            - name: DB_HOST
              value: "postgres-service"
            - name: DB_USER
              value: "user"
            - name: DB_PASS
              value: "password"
            - name: DB_NAME
              value: "userdb"
            - name: DB_PORT
              value: "5432"
          imagePullPolicy: Always
